<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.vshome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VSHome"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".account.LoginActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="vn.com.vshome.db" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="vn.com.vshome" />

        <activity
            android:name=".lightingcontrol.LightingControlActivity"
            android:label="@string/title_activity_lighting_control"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".lightingcontrol.LightingSceneActivity" />
        <activity
            android:name=".user.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".floorselection.FloorSelectionActivity"></activity>
    </application>

</manifest>